div {
  text-align: center;
}
.color {
  background-color: #ffffff;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #fefcfc;
  margin: 0;
}

h1 {
  text-align: center;
  color: #151514;
  margin-top: 50px;
  font-size: 36px;
  letter-spacing: 2px;
}